* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth ;
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background:
    radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}

/* NAV */
:root {
  --primaria: #4f46e5;
  --secundaria: #7c3aed;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --claro: #e2e8f0;
  --vidro: rgba(225, 225, 225, 0.1);
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  max-width: 2000px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.8);
  width: 100%;
  z-index: 100%;
  padding: 1.5rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem 0;
}
.menu-link::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
}
.menu-link:hover {
  color: var(--secundaria);
}
.menu-link:hover::after {
  width: 100%;
}

/* NAV */

/* main */
.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foto-perfil {
  width: 300px;
  right: 200px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  border-radius: 100px;
  border: 4px solid var(--vidro);
  border-radius: 500%;
  animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

h1 {
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 20px;
}
.cabecalho p {
  font-size: 1.5rem;
  color: var(--claro);
}
/* main */

/* sobre */
.sobre {
  padding: 6rem 2rem;
}
.sobre-titulo {
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 20px;
}

.sobre-caixa {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}

.sobre-paragrafo {
  text-align: center;
  font-style: oblique;
  font-size: 1.2rem;
}

/* sobre */

/* Habilidades */
.Habilidades {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  margin-bottom: 25px;
  min-height: 30vh;
}

.card-Habilidades {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 200px;
  font-size: 1.5rem;
  font-style: oblique;
  cursor: pointer;
}

.Git {
  padding: 2rem;
  max-width: 500px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}
.Git:hover {
  color: var(--secundaria);
}

.GitHub {
  padding: 2rem;
  max-width: 500px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}
.GitHub:hover {
  color: var(--secundaria);
}
.html {
  justify-content: center;
  padding: 2rem;
  max-width: 500px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}
.html:hover {
  color: var(--secundaria);
}


.css {
  padding: 2rem;
  max-width: 500px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}
.css:hover {
  color: var(--secundaria);
}

.js {
  padding: 2rem;
  max-width: 560px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}
.js:hover {
  color: var(--secundaria);
}

.canva {
  padding: 2rem;
  max-width: 500px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}

.canva:hover {
  color: var(--secundaria);
}

/* Habilidades */

/* Projetos */
.Projetos {
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 3rem;
  color: var(--claro);
  text-align: center;
  min-height: 12vh;
}

.Card-Projetos {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Projeto1 {
  padding: 2rem;
  max-width: 360px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(225, 225, 225, 0.05);
}

.Projeto-h3 {
  font-size: 25px;
  color: var(--claro);
  font-style: oblique;
}

.Projeto-p {
  font-size: 15px;
  font-style: oblique;
}

.Projeto-A {
  color: var(--branco);
  margin: 30px;
  font-size: 30px;
  margin-left: 90%;
}

.Projeto-A:hover {
  color: var(--secundaria);
}
/* Projetos */

/* Formulario */

.Contatos {
  padding: 6rem 7rem;
}

.contato-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(225, 225, 225, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(225, 225, 225, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  outline: none;
}

.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5 ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.contato-2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.github {
  color: var(--claro);
}
.github:hover {
  color: var(--primaria);
}
.Gmail {
  font-style: oblique;
  padding: 15px;
  color: var(--claro);
  font-weight: 400;
}

.Gmail:hover {
  color: var(--primaria);
}

.Tel {
  font-style: oblique;
  padding: 20px;
  color: var(--claro);
  font-weight: 400;
}

.Tel:hover {
  color: var(--primaria);
}

.Linkedin {
  font-style: oblique;
  padding: 20px;
  color: var(--claro);
  font-weight: 500;
}

.Linkedin:hover {
  color: var(--primaria);
}

/* Formulario */

/* Footer */
.copy {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: var(--vidro);
  font-size: 1em;
  font-style: oblique;
}

/* Footer */
